<!--
 * @Author: Angelo
 * @Date: 2024-03-19 15:45:38
 * @version: 
 * @Descripttion: 
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="vue.js"></script>
    <title>vue</title>
  </head>
  <body>
    <div id="box">
      <!-- @input：当输入框中的值改变的时候，会被handleInput监听到 -->
      <!--2 -->

      <!-- v-model：双向绑定 -->
      <input type="text" v-model="mytext" />
      <button @click="handleAdd">add</button>
      <!-- 使用v-if v-else的方式 -->
      <ul v-if="dataList.length">
        <li v-for="item,index in dataList">
          {{item}}
          <button @click="handleDelete(index)">del</button>
        </li>
      </ul>
      <div v-else>暂无数据！</div>
    </div>
    <script>
      //将obj进行提取出来，当作一个对象
      var obj = {
        data() {
          return {
            mytext: "",
            dataList: ["111", "222"],
          };
        },
        methods: {
          // 在进行监听的时候会把原生的事件给传过来
          // handleInput(evt) {
          //   console.log("Luo", evt);
          //   console.log("Luo", evt.target.value);
          // },
          handleAdd() {
            if (!(this.mytext.length === 0)) {
              this.dataList.push(this.mytext);
              this.mytext = "";
            }
          },
          handleDelete(index) {
            this.dataList.splice(index, 1);
          },
        },
      };
      var vm = Vue.createApp(obj).mount("#box");
    </script>
  </body>
</html>
