<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="vue.js"></script>
    <title>vue</title>
  </head>
  <body>
    <div id="box">
      <ul>
        <li v-for="item in dataList">
          {{item.title}}
          <b v-if="item.status===0">未完成</b>
          <b v-else-if="item.status===1">已完成</b>
          <b v-else>已取消</b>
        </li>
      </ul>
    </div>
    <script>
      //将obj进行提取出来，当作一个对象
      var obj = {
        data() {
          return {
            dataList: [
              {
                title: "手机",
                status: 0,
              },
              {
                title: "衣服",
                status: 1,
              },
              {
                title: "零食",
                status: 2,
              },
            ],
          };
        },
      };
      methods: {
      }
      var vm = Vue.createApp(obj).mount("#box");
    </script>
  </body>
</html>
