<!--
 * @Author: Angelo
 * @Date: 2024-03-19 16:38:48
 * @version: 
 * @Descripttion: 
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="vue.js"></script>
    <title>vue</title>
    <style>
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <div id="box">
      <ul>
        <!-- 
            v-for,v-if不要在同一个标签里边使用
            <li><template></template></li>：使用这种格式li还是会加载，只是不显示
            <template><li></li></template>：不符合条件不显示，不符合的也不加载，就是在代码中看不到
         -->

        <template v-for="({title,status},index) of dataList">
          <li v-if="status===2">
            {{title}}
            <b v-if="status===0">未完成</b>
            <b v-else-if="status===1">已完成</b>
            <b v-else>已取消</b>
          </li>
        </template>
      </ul>
    </div>
    <script>
      var obj = {
        data() {
          return {
            dataList: [
              {
                title: "手机",
                status: 0,
              },
              {
                title: "衣服",
                status: 1,
              },
              {
                title: "零食",
                status: 2,
              },
              {
                title: "美食",
                status: 1,
              },
              {
                title: "海洋",
                status: 2,
              },
            ],
            current: 0,
          };
        },
      };
      methods: {
      }
      var vm = Vue.createApp(obj).mount("#box");
    </script>
  </body>
</html>
